

.loginbox
{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 70px 30px;
    box-shadow: 2px 2px 4px hotpink;
    text-shadow: 1px 1px purple;
}

.login_img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input
{
    width: 100%;
    margin-bottom: 20px;
    color: pink;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px; 
    color: pink;
    font-size: 16px;
}

.loginbox ::placeholder
{
    color: pink;
}
.loginbox input[type="submit"]
{
    font-style: italic;
    border: 1px solid hotpink;
    outline: none;
    height: 40px;
    background: black;
    color: hotpink;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: hotpink;
    color: black;
    color: #000;
    border: black solid 2px;
}

.loginbox a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: pink;
    text-shadow: none;
}

.loginbox a:hover
{
    color: purple;
}
